<ion-view view-title="Tarif Detayı">
  <ion-content>
      
    <div class="list card">

      <div class="item item-avatar">
        <img src="{{bilgi.logo}}">
        <h3>{{bilgi.adi}}</h3>
        <p>{{bilgi.kategori}}</p>
      </div>
    
        <div class="item item-image">
          <img src="{{bilgi.logo}}">
        </div>
        <p>
         <center> <div class="card">
            <div class="item item-assertive">
             <b>Malzemeler</b>
            </div>
            <div class="item item-text-wrap">
              <i>{{bilgi.malzemeler}}</i>
            </div>
            <div class="item item-assertive">
             <b>Yapılış</b>
            </div>
            <div class="item item-text-wrap">
              <i>{{bilgi.yapilis}}</i>
            </div>
          </div></center>
            
        </p>
        <p>
          <a href="#" class="subdued">1 Beğeni</a>
          <a href="#" class="subdued">20 Yorum</a>
        </p>
      </div>
    
    </div>
  </ion-content>
</ion-view>
